table {
    border-collapse: collapse;
    margin: 0 auto;
    width: 80%;
    max-width: 800px;
    text-align: center;
}

table th,
table td {
    padding: 8px;
    text-align: center;
}

table th {
    background-color: #E75480;
    color: white;
}

table tr:nth-child(even) {
    background-color: #f2f2f2;
}

.button-container {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.button-container a {
    display: inline-block;
    padding: 10px;
    background-color: #FC6C85;
    color: white;
    text-decoration: none;
    border-radius: 4px;
    width: 100%;
    max-width: 785px;
    text-align: center;
}

.button-container a:hover {
    background-color: #E75480;
    cursor: pointer;
}

.first-link {
    color:#E75480;
}

.first-link:hover {
    color:  #9F2042;

}
.pagination {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.pagination li {
    margin: 0 5px;
}

.pagination li a,
.pagination li span {
    color: #fff;
    background-color: #E75480;
    border: 1px solid #E75480;
    padding: 5px 10px;
    text-decoration: none;
    display: inline-block;
}

.pagination li.active span {
    background-color: #fff;
    color: #E75480;
}
